__pycache__/
asda-compiled/
.pytest_cache
htmlcov/
.coverage
env/
.mypy_cache/
monkeytype.sqlite3

asdar/asdar
asdar/obj/
asdar/testrunner
asdar/tests/runcalls.h

asdar/callgrind.out
asdar/graph.gv
asdar/graph.png
